<div class="row">

    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-body">
                <%= link_to root_path do %>
                  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
                <% end %>
            </div>
        </div>

        <div class="thumbnail panel panel-default">

            <%= image_tag @pin.image.url %>

            <div class="panel-body">
                <p><%= @pin.description %></p>
                <b><%= @pin.user.email %></b>
            </div>

            <% if @pin.user == current_user %>
                <div class="panel-footer">
                    <%= link_to edit_pin_path(@pin) do %>
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    <% end %>
                </div>
            <% end %>

        </div>

    </div>

  <div class="col-md-4">

    <div class="panel panel-default img-width">

      <div class="panel-heading text-center">
        <h3>Review</h3>
      </div>

      <div class="panel-body">


      </div>

    </div>

  </div>

</div>